services:
  app:
    build:
      context: ..
      dockerfile: devenv/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../:/srv/package
      - ./app.env:/var/www/html/.env
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf

volumes:
  mysql-data:
